<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <input [(ngModel)]="cpf" class="form-control" type="text">

    </div>
    <div class="col-lg-2">
      <button class="btn bt-outline-success" (click)="buscaCpf();">
        <i class="bi bi-search"></i>
      </button>

    </div>
  </div>
  <div class="my-4">
    <h2>{{retorno[0]?.nome}}</h2>
  </div>
  <div class="grid">
      <div class="mostraCards" *ngIf="!verifica">
        <div class="cards" *ngFor="let item of retorno">
          <div class="card">
            <div class="card-body">
              <p><strong>Produto:</strong> {{item.descricao}}</p>
              <p><strong>Valor:</strong> {{item.preco.toFixed(2)}}</p>
              <p><strong>Assinante desde:</strong> {{item.dt_contratacao | date}}</p>
              <div style="display: flex; justify-content: flex-end;">
                <button class="btn btn-lg me-2 btn-outline-danger"
                (click)="recebe(item.id_servicos_contratados, item.descricao)"
                data-bs-toggle="modal"
                data-bs-target="#modalConfirmacaoD">
                  <i class="bi bi-trash3"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="contratacao" *ngIf="retorno.length > 0">
      <h3>Serviço disponiveis</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <td>Tipo</td>
            <td>Preço</td>
            <td style="text-align: center;">Selecionar</td>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of servico; let i = index;">
            <td>{{item.descricao}}</td>
            <td>{{item.preco}}</td>
            <td style="text-align: center;">
              <input type="checkbox" (input)="insereServico(item.id)" name="" id="">
            </td>
          </tr>
        </tbody>

      </table>
      <div style="display: flex; justify-content: flex-end;">
        <button class="btn btn-lg me-2 btn-outline-success" (click)="contrataServico()">
          <i class="bi bi-cart-check"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalConfirmacaoD" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmar exclusão</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Tem certeza que deseja excluir o contrato?
        <br />


        <strong>Descrição:</strong> {{ des }}
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="remove()">
          Excluir
        </button>
      </div>
    </div>
  </div>
